.copy-button,
.clear-button,
.play-button,
.convert-button {
    background-color: #7e89efe2;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.copy-button:hover,
.clear-button:hover,
.play-button:hover,
.convert-button:hover {
    background-color: #4f59a2cc;
    transform: scale(1.05);
}

.copy-button:active,
.clear-button:active,
.play-button:active,
.convert-button:active {
    transform: scale(0.95);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}