.copy-button,
.clear-button,
.play-button,
.convert-button {
  background-color: #756cf8e2;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.copy-button:hover,
.clear-button:hover,
.play-button:hover,
.convert-button:hover {
  background-color: #4a49a7d0;
  transform: scale(1.05);
}

.copy-button:active,
.clear-button:active,
.play-button:active,
.convert-button:active {
  transform: scale(0.95);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

/* Copy notification */

.notification {
  position: fixed;
  top: 20px;
  right: 20px;

  padding: 10px 16px;
  background: #6a49ee;
  color: white;

  border-radius: 8px;
  font-weight: 600;

  transform-origin: top right;
  overflow: hidden;
}

.notification-enter-active,
.notification-leave-active {
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
}

.notification-enter-from,
.notification-leave-to {
  opacity: 0;
  transform: scaleX(0);
}

.notification-enter-to,
.notification-leave-from {
  opacity: 1;
  transform: scaleX(1);
}
